<ul class="list-inline banner-social-buttons">
    <li>
        <a href="{{ site.twitter_url }}" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
    </li>
    <li>
        <a href="{{ site.github_url }}" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
    </li>
    <li>
        <a href="{{ site.meetup_url }}" class="btn btn-default btn-lg"><i class="fa fa-meetup fa-fw"></i> <span class="network-name">Meetup</span></a>
    </li>
    <li>
        <a href="{{ site.slack_url }}" class="btn btn-default btn-lg"><i class="fa fa-slack fa-fw"></i> <span class="network-name">Slack</span></a>
    </li>
</ul>
