<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.name }} {% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta property="og:title" content="{{ site.name }} {% if page.title %} | {{ page.title }}{% endif %}"/>
    <meta property="og:type" content="meetup"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:site_name" content="{{ site.name }} {% if page.title %} | {{ page.title }}{% endif %}"/>
    <meta name="author" content="{{ site.author }}"/>
    <link rel="author" href="/humans.txt"/>
    <meta name="description" content="{{site.description}}" />
    <meta property="og:description" content="{{site.description}}"/>
    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" value="{{ site.twitter_url }}">
    <meta name="twitter:creator" value="{{ site.twitter_url }}">
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="{{ site.url }}">

    <!-- css -->
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/landing-page.css" rel="stylesheet">

    <!-- custom fonts -->
    <link href="{{ site.baseurl }}/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- icons -->
    <link rel="apple-touch-icon" href="{{ "/assets/img/apple-touch-icon.png" | relative_url }}"/>
    <meta property="og:image" content="{{ "/assets/img/fbogthumb.jpg" | relative_url }}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">{{ site.name }}</a>
            </div>

            <!-- collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#events">Events</a>
                    </li>
                    <li>
                        <a href="#projects">Projects</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>{{site.name}}</h1>
                        <h3>{{site.description}}</h3>
                        <hr class="intro-divider">
                        {% include social-buttons.html %}
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    {{ content }}

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#meetup">Next Meetup</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">{{ site.copyright_text }}</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- js -->
    <script src="{{ site.baseurl }}/assets/js/jquery.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

    <!-- google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.google_analytics_id }}', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
